.onMain{
    display: grid;
    place-items: center;
}
.continer {
    position: absolute;
    top: 2rem;
    width: fit-content;
    height: 22rem;
    background-color: #425664;
    border-radius: 10px;
    padding: 2rem;
    z-index: -1;
    -webkit-tap-highlight-color: transparent;
}
.wellcome {
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: 5rem;
    padding-bottom: 1rem;
}
.check {
    color: #ffffff;
    font-size: 1.1rem;
    margin-top: -2rem;
    text-align: center;
} 

.selectSecond {
    background-color:#ffffff ;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.6rem;
    width: 80%;
    margin: auto;
    font-weight: 100;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    -webkit-user-select: none;
}
.buttonContainer {
  margin: auto;
  width: fit-content;
}
.start {
  border: none;
  background-color:#340dff; 
  border-radius: 2rem;
  width: 8rem;
  height: 3rem;
  font-size: 18px;
  transition: 0.5s all ease-in;
  margin-top: 3rem;
  z-index: 2;
  /* margin-left: 8rem; */
}
.start a{
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}

.start:hover {
  background-color:#a7b2c7;
}
.select {
  color: #ffffff;
  text-align: center;
}
@media (max-width: 440px) {
  .wellcome {
    font-size: 1.8rem;
  }
  .check {
    font-size: 1rem;
  }
  .selectSecond {
    font-size: 1.4rem;
  }
}