.textStyle{
  color: green;
  font-size: 1.3rem;
  background-color: #16ff98;
  width: fit-content;
}
.falseTextStyle {
  color: red;
  background-color: #ff9392;
  font-size: 1.3rem;
}

@media (max-width: 440px) {
  .textStyle {
    font-size: 1rem;
  }
  .falseTextStyle {
    font-size: 1rem;
  }

}